@charset "utf-8";
@import "../myless/main";

header {
  width: 100%;
  height: 10rem;
  margin-top: 1rem;
}

.Header-brand {
  width: 100%;
  //position: relative;
  //float: left;
  //background-color: blue;
  a {
    width: 10%;
    position: relative;
    float: left;
    margin-left: 4rem;
    img {
      width: 100%;
      //box-shadow: 5px 5px 0 rgba(0,0,13,0.3);
    }
  }
  p {
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    position: relative;
    float: right;
    font-size: 1.1em;
    font-weight: 500;
    right:5rem;
    //background-color: pink;
    span{
      height: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
      position: relative;
      float: right;
      font-size: 1.1em;
      font-weight: 400;
      //background-color: greenyellow;
    }
  }

}

nav {
  width: 100%;
  position: relative;
  //float: left;
  //background-color: red;
  top:-2rem;

  .Navigation-list {
    position: relative;
    float: right;
    //background-color: hotpink;

    li {
      position: relative;
      float: left;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      border-right: 1px solid gainsboro;
      //background-color:green;
      display: block;
      &:last-child {
        border-right: none;

      }
      a {
        width: 100%;
        height: 100%;
        font-size: 1.3rem;
        font-weight: 400;
        //background-color: blue;
        display: block;

      }
      .active {
        color: #09f;
      }

    }

  }

  .ShowSmall{
    width: 100%;
    line-height: 2.5rem;
    text-align: center;
    //background-color: blue;
    position: relative;
    float: left;
    margin: 6rem 0 3rem 0;
    display: inline-block;

    li{
      width: 25%;
      position: relative;
      float: left;
      line-height: 2.5rem;
      text-align: center;
      //background-color: pink;
      margin: 0 auto;
      a{
        width: 100%;
        height: 100%;
        line-height: 3.5rem;
        font-size: 3rem;
        text-align: center;
        //background-color: yellow;
        display: block;
      }
    }
  }
}