@charset "utf-8";
@import "../myless/main";


//0，导航总头部
.esjy-mhtype-full {
  position: relative;
  height: @navHeight;
  width: 100%;
  z-index: 2;
}
#ibm-universal-nav {
  height: @navHeight;
  width: 100%;
  clear: both;
}



//1，导航栏
nav {
  height: @navHeight;
  width: 100%;
  //background:linear-gradient(to right #1f5bab, #2fa0e5);
  position: absolute;
  border-bottom: 1px solid gray;
  z-index: 9;
  background-color: @esjyColor;

  .advertise{
    //display: block;
    width: 100%;
    height: @advHeight;
    position: relative;

    .sententce {
      width: 100%;
      height: @advHeight;
      line-height: @advHeight;
      background-color: #ffffff;
      border: 1px solid gray;
      font-size: 0.8rem;
      font-weight: 500;
      color: @esjyColor;
      padding-left: 4rem;
      //background-color: black;


    }
  }



  //1.1,企业logo位置
  .esjy-home {
    height: @homeSizeHeight;
    width: @homeSizeWidth;
    float: left;
    position: relative;
    //background-color: red;
    //padding-left: 4rem;
    a {
      height: 100%;
      width: 100%;
      color: #ffffff;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: @homeSizeHeight;
      text-align: center;
      //img {
      //  height: @homeSizeHeight;
      //  line-height: @homeSizeHeight * 0.5;
      //  width: @homeSizeWidth;
      //  padding: 0.5rem 1.5rem;
      //}
    }
  }
  //1.2,左边按钮
  .esjy-masthead-categories{
    height:@navMuneHeight;
    width:35rem;
    float: right;
    position: relative;
    //background-color: black;


    li{
      float: left;
      padding-right: 1.2rem;
      position: relative;

      a {
        line-height: @navMuneHeight;
        text-align: center;
        font-size: 1.1rem;
        text-underline-position: below;
        display: block;
        position: relative;
        color: #ffffff;
        font-weight: 300;
        span {
          line-height: @navMuneHeight;
          text-align: center;
          padding-left: 0.2rem;
          font-weight: 300;
          font-size: 0.9rem;

        }
      }
    }
  }

 // 1.3,隐藏地图（ibm）
 .ibm-hidden {
   visibility: hidden;
   height: 0;
   width: 0;
   float: left;
 }
  //1.4, 导航栏右侧
  .esjy-masthead-rightside {
    display: block;
    float: right;
    height: @navMuneHeight;
    width: 0 ;
    //background-color: yellow;
    position: relative;
    //1.4.1,按钮'市场'
    p {
      height: @navMuneHeight;
      line-height: @navMuneHeight;
      text-align: center;
      float: left;
      width: 0;
      border: 1px solid gray;
    }
    //1.4.2,搜索
    //.search {
    //}

    //1.4.3,icon式按钮部分
    .esjy-masthead-iconsonly {
      position: relative;
      float: right;
      height: @navMuneHeight;
      width: 0;
      //background-color: green;

      //1.4.3.1,用户icon式按钮
      .esjy-masthead-item-signin {
        float: right;
        height: @navMuneHeight;
        //width: 100%;
        //1.4.3.1.1,用户按钮
        button {
          height: @navMuneHeight;
          width: 100%;
        }
        //1.4.3.1.2,用户下拉菜单
        .esjy-dropdown-menu {
          display: none;
          //width: 10rem;
          height: 20rem;
          background-color: #ffffff;
        }
      }
      //1.4.3.2 主菜单式按钮
      .ibm-masthead-item-menu {
        float: right;
        height: @navMuneHeight;
        //width: 100%;
        //1.4.3.2.1,主菜单按钮
        button{
          height: @navMuneHeight;
          width: 50%;

        }
      }
    }
  }
}




//2，隐藏的下拉菜单
.esjy-hidden-small {
  //width: 100%;
  height: @drownMenuHeight;
  top: -@drownMenuHeight;
  position: relative;
  z-index: 5;
  background-color: black;

}


//2.1,下拉菜单
.esjy-megamenu-section {
  width: 100%;
  height: @drownMenuHeight;
  background-color: greenyellow;




  //下拉菜单内容
  .esjy-columns {
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: relative;
    overflow: hidden;


    //左侧二级菜单
    .esjy-background-neutral-white-30 {
      width: 35%;
      height: 100%;
      background-color: #e6e6e6;
      float: left;
      ul{
        width: 100%;
        height: 100%;
        padding: 1rem  0  0 8rem;
        //background-color: red;
        li{
          &:first-child{
            font-weight: 500;
            width: 90% ;
            height: 2.8rem;
            line-height: 2.8rem;
            text-align: left;
            padding-left:0.5rem;

          }
          width: 90% ;
          height: 3rem;
          text-align: center;
          .esjy-init {
            color: @esjyColor;
            font-size: 1.2rem;
          }
          a {
            font-size:1.1rem;
            padding-left:1rem;
            display: block;
            width: 100%;
            height: 2.8rem;
            line-height: 2.8rem;
            text-align: left;
            font-weight:400;
            //padding: 7px 20px 8px 40px;
            &:hover{
              background-color: @esjyColor;
              color: white;
            }
            //.esjy-init {
            //  color: @esjyColor;
            //  font-size: 1.2rem;
            //}



          }
          .esjy-show-active {
            font-weight: 600;
          }

        }
      }

    }
    //  左侧二级菜单结束

  //  右侧下拉菜单esjy-background-white-core
    .esjy-background-white-core {
      float: left;
      width: 65%;
      height: 100%;
      //background-color: rebeccapurple;
      position: relative;


      .esjy-megapanel {
        width: 100%;
        height: 100%;
        padding-left: 2rem;
        display: none;
        position: absolute;
        //background-color: blue;

        h1 {
          width: 100%;
          margin: 1.5rem auto;
          &:hover{
            text-decoration: underline;
          }

          a {
            width: 100%;
            color:@esjyColor;


          }
        }


        .esjy-columns{
          width: 100%;
          height: 100%;
          //background-color: red;

          .esjy-col-6-2 {
            float: left;
            width: 50%;
            height: 100%;
            //background: pink;

            &:first-child{
              //background-color: green;

            }

            p{
              font-size: 0.9rem;

            }
            ul{
              width: 100%;
              li{
                width:100%;
                //height: 3rem;
                //line-height: 2.5rem;
                a{
                  width:100%;
                  display: block;
                  color: @esjyColor;
                  font-size: 1rem;
                  height: 2.6rem;
                  line-height: 2.6rem;
                  &:hover{
                    text-decoration: underline;
                  }
                }
              }
            }
          }
          &:last-child{
            //background-color: red;

            .esjy-bold{
              font-weight: 500;
              font-size: 1.2rem;
            }
            .esjy-linkcolor-default{
              a{
                color: @esjyColor;

              }
            }
          }
        }
      }
      .esjy-show-active {
        display: block;
      }
    }

  }
  //下拉菜单内容结束

}


//主容器外包裹（主体最外层）
.esjy-content-wrapper {
  width: 100%;
  position: relative;
  float: left;
  z-index: 1;

}

.esjy-show-active2 {
  display: block;
}
//ibm头部
  header {
    width: 100%;
    height: 0;
  }

//主容器
main {
  width: 100%;
  position: relative;
  //第二大主容器
  .esjy-content-main {
    width: 100%;
    position: relative;
    z-index: 12;
    //轮播图
    .carousel {
      width: 100%;
      height: @mainCarouselHeight;
      position: relative;


      //轮播图指示器
      .carousel-indicators {
        position: absolute;
        left: 50%;
        width: 60%;
        padding-left: 0;
        padding-top: 1rem;
        margin-left: -30%;
        text-align: center;
        list-style: none;
        bottom: 0;
        height: @mainCarouseContrloHeight;
        //z-index: 15;
        li {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin: 1px;
          text-indent: -999px;
          cursor: pointer;
          border: 1px solid @esjyColor;
          border-radius: 12px;
          margin-left: 10px;

        }
        .active {
          width: 13px;
          height: 13px;
          border-radius: 13px;
          margin: 1px;
          margin-left: 10px;
          background-color: @esjyColor;
        }
      }

      //轮播图内部
      .carousel-inner {
        //媒体和文字
        .item {
          width: 100%;
          height: @mainCarouselHeight;

          //媒体图片
          img {
            width: 100%;
            height: @mainCarouselHeight;
            position: relative;


          }
          //媒体视频
          video {
            position: relative;
            width: 100%;
            height: @mainCarouselHeight;
          }

          //文字说明
          .carousel-caption {

          }

        }
      }

      .carousel-btn {
        //width: 100%;
        //height: 100%;
        //position: relative;
        //background-color: green;
        //margin-left: 40%;

      }
      //轮播图——结束

    }
  }
}

//主体部分
.esjy-columns {
  width: 100%;
  position: relative;
  float: left;
}
  .esjy-col-1-1 {
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
  }


.esjy-statistics {
  width: 100%;
  height: 11rem;
  position: relative;
  background-color: #f7f7f7;
  text-indent: 0;
  clear: both;
  .test{
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 20%;
    text-align: center;
    //margin-top: ;
    margin: 1rem 0 1rem 0;
    border-right: 1px solid #e4e4e4;
    //background-color:cornflowerblue;
    .esjy-statistics-text{
      position: relative;
      width: 100%;
      float: left;
      .num{
        width: 100%;
        height: 7rem;
        line-height: 7rem;
        text-align: center;
        font-size: 2.5rem;
        //background-color: hotpink;
        display: inline-block;

        i{
          height: 0.9rem;
          line-height: 0.9rem;
          width: 2rem;
          font-size: 0.9rem;
          //background-color: red;
          position: absolute;
          right: 0.5rem;
          top:1rem;
          display: inline-block;
        }
      }
    }
    .esjy-text{
      position: relative;
      text-align: center;
      width: 100%;
      height:0.9rem;
      line-height: 0.9rem;
      font-size: 0.9rem;
      color:#949494;
      //background-color:black;
      display: inline-block;

    }
  }
}

.business{
  width:100%;
  height: 20rem;
  margin-top: 2rem;
  //margin-bottom: 2rem;
  //border: 1px solid green;
  //background-color: yellow;

  .businee_title {
    width: 100%;
    height: 5rem;
    text-align: center;
    //top:100px;
    top:0;
    position: relative;
    //margin-top: 2rem;
    //background-color: green;
    h1 {
      width: 100%;
      height: 3rem;
      line-height: 3rem;

      //background-color: blueviolet;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 2.4em;

    }
    p{
      width: 100%;
      height: 1.5rem;
      line-height: 1.5rem;
      //background-color: bisque;
      margin-top: 0;
      font-size: 1em;
    }
  }
  .business_imges {
    position: relative;
    width: 90%;
    height: 15rem;
    margin: 0 auto;
    //background-color: pink;
    .leftin,.rightIn{
      width: 100%;
      height: 7.5rem;
      text-align: center;
      position: relative;
      float: left;
      //background-color: red;
      //border: 1px solid cornflowerblue;
      margin: 0.5rem auto;

      .fadeInLeftBig{
        position: relative;
        left: -1000px;
        opacity: 0.0;
      }
      .fadeInRightBig{
        position: relative;
        left: 1000px;
        opacity: 0.0;
      }

      a{
        display: block;
        height: 80%;
        width: 11%;
        text-align: center;
        position: relative;
        float: left;
        border: 1px solid gray;
        margin: 0 1.50%  0 0;
        font-size: 1em;
        background-color: rgba(6,114,218,0.1,);


        img {
          //width: 1rem;
          //height: 2rem;
          //text-align: center;

        }
    }

    }

  }

}


//注销业务
.esjy-logout{
  position: relative;
  float: left;
  width: 100%;
  height: 28rem;
  //background-color: hotpink;
  //text-align: center;

  h1{

  }
  a{
    padding-bottom: 2rem;
    position: relative;
    //background-color: red;

  }

  .esjy-logoutimg {
    height: 20rem;
    width: 60%;
    margin: 0 auto;
    background-color: cornflowerblue;
    position: relative;
    top:100px;
    opacity: 0.0;
    //padding-top: 2rem;
  }
}

//员工
.esjy-staff {
  padding-top: 2rem;
  background-color: darkslategrey;
  color:#Ffffff;
  position:relative;
  float: left;
  h1{
    font-size: 2.4em;
  }
  p{
    height: 2rem;
    line-height: 2rem;
    font-size: 1em;
  }

  .esjy-staffWall {
    //background-color: purple;


    .departmentName {
      height: 3rem;
      //position: relative;
      //float: left;
      margin: 0;
      padding: 0;


      .esjy-show-active2 {
        background-color: white;
        color: black;
      }
      li {
        height: 3rem;
        line-height: 3rem;
        width: 20%;
        position: relative;
        float: left;
        text-align: center;
        //background-color: black;

      }
    }

    .staff_Company {

      .staff_Department{
        display: none;
        .staffPerson {
          margin: 0;
          padding: 0;
          background-color: #253243;
          border: 1px solid white;
          overflow: hidden;


          p{
            //background-color: pink;
            text-align: left;
            padding: 0;
            margin: 0;
            border: 1px solid white;


            &:last-child{
              //width: 100%;
              //background-color: pink;
              height: 4rem;
            }
          }
        }
      }

      .esjy-show-active2 {
        display: block;

      }


    }


  }

}






//已隐藏
.particles-part {
  float: left;
  position: absolute;
  background-color: @esjyColor;
  canvas {
    width: 100%;
    height: 100%;
    float: left;
  }

}

.ibm-padding-bottom-r2 {
  width: 100%;
  height: 150px;


  float: left;
  .esjy-center {
    width: 100%;

    p{
      width: 100%;


      a{
        width: 100%;
        display: block;
        float: left;
        color: white;
        background-color: #3b6caa;
        line-height: 5rem;
        text-align: center;

      }
    }

  }
}
.thumbnail{
  height: 30rem;
}

.sThumbnail {
  height: 20rem;
}






