@charset "utf-8";
@media (min-width: 580px) {
  html {
    font-size: 12.37333333px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 13.65333333px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 15.36px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 960px) {
  html {
    font-size: 20.48px;
  }
}
@media (min-width: 1080px) {
  html {
    font-size: 23.04px;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 27.30666667px;
  }
}
@media (min-width: 1480px) {
  html {
    font-size: 31.57333333px;
  }
}
/*reset css*/
*,
::before,
::after {
  /*选中所有的元素，和伪元素*/
  margin: 0;
  padding: 0;
  /*针对移动端*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*主流移动端浏览器兼容*/
  /*点击高亮效果清除*/
  -webkit-tap-highlight-color: transparent;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #333;
}
input,
textarea {
  outline: none;
  border: none;
  resize: none;
  /*清除移动端输入框的特有样式*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/*common css 公用样式*/
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.m_l10 {
  margin-left: 10px;
}
.m_r10 {
  margin-right: 10px;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: #ffffff;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: none;
}
a {
  color: #323232;
}
.esjy-mhtype-full {
  position: fixed;
  height: 7rem;
  width: 100%;
  z-index: 2;
}
#ibm-universal-nav {
  height: 7rem;
  width: 100%;
  clear: both;
}
nav {
  height: 7rem;
  width: 100%;
  position: absolute;
  border-bottom: 1px solid gray;
  z-index: 9;
  background-color: #1f5bab;
}
nav .advertise {
  display: block;
  width: 100%;
  height: 3rem;
}
nav .advertise .sententce {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  background-color: #ffffff;
  border: 1px solid gray;
  font-size: 0.8rem;
  font-weight: 500;
  color: #1f5bab;
  padding-left: 4rem;
}
nav .esjy-home {
  height: 7rem;
  width: 8rem;
  float: left;
  position: relative;
  padding-left: 4rem;
}
nav .esjy-home a {
  height: 4rem;
  width: 8rem;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 4rem;
}
nav .esjy-masthead-categories {
  height: 4rem;
  width: 50%;
  float: right;
  position: relative;
}
nav .esjy-masthead-categories li {
  float: left;
  padding-right: 1.5rem;
  position: relative;
}
nav .esjy-masthead-categories li a {
  line-height: 4rem;
  text-align: center;
  font-size: 1.1rem;
  text-underline-position: below;
  display: block;
  position: relative;
  color: #ffffff;
  font-weight: 300;
}
nav .esjy-masthead-categories li a span {
  line-height: 4rem;
  text-align: center;
  padding-left: 0.2rem;
  font-weight: 300;
  font-size: 0.9rem;
}
nav .ibm-hidden {
  visibility: hidden;
  height: 0;
  width: 0;
  float: left;
}
nav .esjy-masthead-rightside {
  display: block;
  float: right;
  height: 4rem;
  width: 30% ;
  position: relative;
}
nav .esjy-masthead-rightside p {
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  float: left;
  width: 30%;
  border: 1px solid gray;
}
nav .esjy-masthead-rightside .esjy-masthead-iconsonly {
  position: relative;
  float: right;
  height: 4rem;
  width: 70%;
}
nav .esjy-masthead-rightside .esjy-masthead-iconsonly .esjy-masthead-item-signin {
  float: right;
  height: 4rem;
  width: 100%;
}
nav .esjy-masthead-rightside .esjy-masthead-iconsonly .esjy-masthead-item-signin button {
  height: 4rem;
  width: 100%;
}
nav .esjy-masthead-rightside .esjy-masthead-iconsonly .esjy-masthead-item-signin .esjy-dropdown-menu {
  display: none;
  width: 10rem;
  height: 20rem;
  background-color: #ffffff;
}
nav .esjy-masthead-rightside .esjy-masthead-iconsonly .ibm-masthead-item-menu {
  float: right;
  height: 4rem;
  width: 100%;
}
nav .esjy-masthead-rightside .esjy-masthead-iconsonly .ibm-masthead-item-menu button {
  height: 4rem;
  width: 50%;
}
.esjy-hidden-small {
  width: 100%;
  height: 35rem;
  top: -35rem;
  position: relative;
  z-index: 5;
  background-color: black;
}
.esjy-megamenu-section {
  width: 100%;
  height: 35rem;
  background-color: greenyellow;
}
.esjy-megamenu-section .esjy-columns {
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: relative;
  overflow: hidden;
}
.esjy-megamenu-section .esjy-columns .esjy-background-neutral-white-30 {
  width: 35%;
  height: 100%;
  background-color: #e6e6e6;
  float: left;
}
.esjy-megamenu-section .esjy-columns .esjy-background-neutral-white-30 ul {
  width: 100%;
  height: 100%;
  padding: 1rem  0  0 8rem;
}
.esjy-megamenu-section .esjy-columns .esjy-background-neutral-white-30 ul li {
  width: 90% ;
  height: 3rem;
  text-align: center;
}
.esjy-megamenu-section .esjy-columns .esjy-background-neutral-white-30 ul li:first-child {
  font-weight: 500;
  width: 90% ;
  height: 2.8rem;
  line-height: 2.8rem;
  text-align: left;
  padding-left: 0.5rem;
}
.esjy-megamenu-section .esjy-columns .esjy-background-neutral-white-30 ul li .esjy-init {
  color: #1f5bab;
  font-size: 1.2rem;
}
.esjy-megamenu-section .esjy-columns .esjy-background-neutral-white-30 ul li a {
  font-size: 1.1rem;
  padding-left: 1rem;
  display: block;
  width: 100%;
  height: 2.8rem;
  line-height: 2.8rem;
  text-align: left;
  font-weight: 400;
}
.esjy-megamenu-section .esjy-columns .esjy-background-neutral-white-30 ul li a:hover {
  background-color: #1f5bab;
  color: white;
}
.esjy-megamenu-section .esjy-columns .esjy-background-neutral-white-30 ul li .esjy-show-active {
  font-weight: 600;
}
.esjy-megamenu-section .esjy-columns .esjy-background-white-core {
  float: left;
  width: 65%;
  height: 100%;
  position: relative;
}
.esjy-megamenu-section .esjy-columns .esjy-background-white-core .esjy-megapanel {
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  display: none;
  position: absolute;
}
.esjy-megamenu-section .esjy-columns .esjy-background-white-core .esjy-megapanel h1 {
  width: 100%;
  margin: 1.5rem auto;
}
.esjy-megamenu-section .esjy-columns .esjy-background-white-core .esjy-megapanel h1:hover {
  text-decoration: underline;
}
.esjy-megamenu-section .esjy-columns .esjy-background-white-core .esjy-megapanel h1 a {
  width: 100%;
  color: #1f5bab;
}
.esjy-megamenu-section .esjy-columns .esjy-background-white-core .esjy-megapanel .esjy-columns {
  width: 100%;
  height: 100%;
}
.esjy-megamenu-section .esjy-columns .esjy-background-white-core .esjy-megapanel .esjy-columns .esjy-col-6-2 {
  float: left;
  width: 50%;
  height: 100%;
}
.esjy-megamenu-section .esjy-columns .esjy-background-white-core .esjy-megapanel .esjy-columns .esjy-col-6-2 p {
  font-size: 0.9rem;
}
.esjy-megamenu-section .esjy-columns .esjy-background-white-core .esjy-megapanel .esjy-columns .esjy-col-6-2 ul {
  width: 100%;
}
.esjy-megamenu-section .esjy-columns .esjy-background-white-core .esjy-megapanel .esjy-columns .esjy-col-6-2 ul li {
  width: 100%;
}
.esjy-megamenu-section .esjy-columns .esjy-background-white-core .esjy-megapanel .esjy-columns .esjy-col-6-2 ul li a {
  width: 100%;
  display: block;
  color: #1f5bab;
  font-size: 1rem;
  height: 2.6rem;
  line-height: 2.6rem;
}
.esjy-megamenu-section .esjy-columns .esjy-background-white-core .esjy-megapanel .esjy-columns .esjy-col-6-2 ul li a:hover {
  text-decoration: underline;
}
.esjy-megamenu-section .esjy-columns .esjy-background-white-core .esjy-megapanel .esjy-columns:last-child .esjy-bold {
  font-weight: 500;
  font-size: 1.2rem;
}
.esjy-megamenu-section .esjy-columns .esjy-background-white-core .esjy-megapanel .esjy-columns:last-child .esjy-linkcolor-default a {
  color: #1f5bab;
}
.esjy-megamenu-section .esjy-columns .esjy-background-white-core .esjy-show-active {
  display: block;
}
.esjy-content-wrapper {
  width: 100%;
  position: relative;
  top: 7rem;
  float: left;
  z-index: 1;
}
header {
  width: 100%;
  height: 0;
}
main {
  width: 100%;
  position: relative;
}
main .esjy-content-main {
  width: 100%;
  position: relative;
  z-index: 12;
}
main .esjy-content-main .carousel {
  width: 100%;
  height: 25rem;
  position: relative;
}
main .esjy-content-main .carousel .carousel-indicators {
  position: absolute;
  left: 50%;
  width: 60%;
  padding-left: 0;
  padding-top: 1rem;
  margin-left: -30%;
  text-align: center;
  list-style: none;
  bottom: 0;
  height: 3rem;
}
main .esjy-content-main .carousel .carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #1f5bab;
  border-radius: 12px;
  margin-left: 10px;
}
main .esjy-content-main .carousel .carousel-indicators .active {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin: 1px;
  margin-left: 10px;
  background-color: #1f5bab;
}
main .esjy-content-main .carousel .carousel-inner .item {
  width: 100%;
  height: 25rem;
}
main .esjy-content-main .carousel .carousel-inner .item img {
  width: 100%;
  height: 25rem;
  position: relative;
}
main .esjy-content-main .carousel .carousel-inner .item video {
  position: relative;
  width: 100%;
  height: 25rem;
}
main .esjy-content-main .esjy-columns {
  width: 100%;
  position: relative;
  float: left;
}
main .esjy-content-main .esjy-columns .esjy-col-1-1 {
  width: 100%;
  position: relative;
  float: left;
  text-align: center;
}
main .esjy-content-main .esjy-columns .esjy-col-1-1 .particles-part {
  float: left;
  position: absolute;
  background-color: #1f5bab;
}
main .esjy-content-main .esjy-columns .esjy-col-1-1 .particles-part canvas {
  width: 100%;
  height: 100%;
  float: left;
}
.ibm-padding-bottom-r2 {
  width: 100%;
  height: 150px;
  float: left;
}
.ibm-padding-bottom-r2 .esjy-center {
  width: 100%;
}
.ibm-padding-bottom-r2 .esjy-center p {
  width: 100%;
}
.ibm-padding-bottom-r2 .esjy-center p a {
  width: 100%;
  display: block;
  float: left;
  color: white;
  background-color: #3b6caa;
  line-height: 5rem;
  text-align: center;
}
.thumbnail {
  height: 30rem;
}
.sThumbnail {
  height: 20rem;
}
