@charset "utf-8";
@import "../myless/main";

main {
  width: 100%;
  .Cols {
    width: 100%;
    .Step {
      width: 100%;
      position: relative;

    }

  }
}

.Step .EventCard {
  width: 50%;
  position: relative;
  float: left;
  background-color: yellow;
  h1 {

  }
  p {

  }
  .InfoList {
    dt {

    }
    dd {

    }
    a {
      width: 80%;
      height: 2rem;
      display: block;
      font-weight: 700;
      border: 1px solid red;
    }
  }
}

.Step .Picture {
  width: 50%;
  position: relative;
  float: right;


}
