@charset "utf-8";
@import "variables";
@import "mixins";
@import "adapter";
@import "base";


*,::before,::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

}
html {
  font-size: 16px;
}

////覆盖bootstrap的样式
body {
  background-color: #ffffff;

}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: none;
}
a {
  color: @fontColor;
}