@charset "utf-8";
@media (min-width: 320px) {
  html {
    font-size: 4.48px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 5.04px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 5.25px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 5.376px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 5.6px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 5.796px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 5.936px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 6.72px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 7.56px;
  }
}
@media (min-width: 580px) {
  html {
    font-size: 8.12px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 8.96px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 10.08px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 10.5px;
  }
}
@media (min-width: 960px) {
  html {
    font-size: 13.44px;
  }
}
@media (min-width: 1080px) {
  html {
    font-size: 15.12px;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 17.92px;
  }
}
@media (min-width: 1480px) {
  html {
    font-size: 20.72px;
  }
}
/*reset css*/
*,
::before,
::after {
  /*选中所有的元素，和伪元素*/
  margin: 0;
  padding: 0;
  /*针对移动端*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*主流移动端浏览器兼容*/
  /*点击高亮效果清除*/
  -webkit-tap-highlight-color: transparent;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #333;
}
input,
textarea {
  outline: none;
  border: none;
  resize: none;
  /*清除移动端输入框的特有样式*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/*common css 公用样式*/
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.m_l10 {
  margin-left: 10px;
}
.m_r10 {
  margin-right: 10px;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: none;
}
a {
  color: #323232;
}
main {
  width: 100%;
  position: relative;
  float: left;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
@media (min-width: 768px) {
  main {
    top: -3rem;
  }
}
@media (min-width: 992px) {
  main {
    top: -3rem;
  }
}
@media (min-width: 1200px) {
  main {
    top: -4rem;
  }
}
.Splash {
  position: relative;
  height: 30rem;
}
.Splash .Splash-content {
  height: 100%;
  background-color: #e3e3e3;
}
.Splash .Splash-content .Splash-title {
  color: black;
}
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.esjy-columns {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
  margin-bottom: 2rem;
}
.esjy-columns .esjy-col-1-1 {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
  text-align: center;
  padding: 0 3rem;
}
.esjy-columns .esjy-col-1-1 h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 2px;
  /* 小屏幕（平板，大于等于 768px） */
  /* 中等屏幕（桌面显示器，大于等于 992px） */
  /* 大屏幕（大桌面显示器，大于等于 1200px） */
}
@media (min-width: 768px) {
  .esjy-columns .esjy-col-1-1 h1 {
    font-size: 2.2em;
    font-weight: 600;
  }
}
@media (min-width: 992px) {
  .esjy-columns .esjy-col-1-1 h1 {
    font-size: 2.4em;
    font-weight: 500;
  }
}
@media (min-width: 1200px) {
  .esjy-columns .esjy-col-1-1 h1 {
    font-size: 2.4em;
    font-weight: 500;
  }
}
.esjy-columns .esjy-col-1-1 .row {
  width: 100%;
  height: 100%;
  margin-left: 0;
}
.esjy-padding-content {
  padding: 1.6rem;
}
