@charset "utf-8";
//测试颜色1
@c1:red;
@c2:green;
@c3:purple;
@b1:1px solid lightgray;

//主体颜色
@esjyColor0: #3b6caa;//ibm
@esjyColor:#1f5bab; //samsung pid

//FontColor
@fontColor:#323232;

@boderRadius: 8/100rem;

//设计稿宽度
@psdWidth: 1000;

//基准值
@bs:14;

//基准单位
@basicSize:14rem;

//首页轮播图高度
@mainCarouselHeight:25rem;
//首页轮播图控制器高度
@mainCarouseContrloHeight:3rem;

//需要适配的所有设备
@deviceWidthList:320px,360px,375px,384px,400px,414px,424px,480px,540px,580px,640px,720px,750px,960px,1080px,1280px,1480px;

//导航高度
@navHeight:@navMuneHeight + @advHeight;

//导航菜单高度：
@navMuneHeight:4rem;

//广告语高度
@advHeight:3rem;


//logo大小
@homeSizeWidth:8rem;
@homeSizeHeight:@navMuneHeight;



//下拉菜单高度
@drownMenuHeight:35rem;

@brand-primary:darken(#428bca, 6.5%); // #337ab7

@navBackgroundcolor:#dee6ea;


@hct-navHeight:7rem;
@hct-logoHeight-mob:5rem;
@hct-logoWidth-mob:5rem;
@hct-logoHeight-pc:6rem;
@hct-logoWidth-pc:6rem;



@hct-CorulaseSlideHeight:30rem;

@hct-StepImgHeight-lg:55rem;
@hct-StepImgHeight-md:45rem;
@hct-StepImgHeight-sm:40rem;
@hct-StepImgHeight-Mob:25rem;
@hct-Step-detail-Mob:40rem;

@hct-StepHeight-Mob:65rem;

@screen-sm-min:768px;
@screen-md-min:992px;
@screen-lg-min:1200px;

@hct-FS-StepTitle-lg: 3em;
@hct-FS-StepTitle-md: 2.5em;
@hct-FS-StepTitle-sm: 2.2em;
@hct-FS-StepTitle-Mob: 2.2em;







// background:linear-gradient(270deg, #1f5bab,  #2fa0e5);
//background: linear-gradient(0deg, #000 20%, #f00 50%, #090 80%);