@charset "utf-8";
//测试颜色1
@c1:red;
@c2:green;
@c3:purple;
@b1:1px solid lightgray;

//主体颜色
@esjyColor: #3b6caa;

//FontColor
@fontColor:#323232;

@boderRadius: 8/100rem;

//设计稿宽度
@psdWidth: 750;

//基准值
@bs:16;

//基准单位
@basicSize:16rem;

//首页轮播图高度
@mainCarouselHeight:25rem;
//首页轮播图控制器高度
@mainCarouseContrloHeight:3rem;

//需要适配的所有设备
@deviceWidthList:580px,640px,720px,750px,960px,1080px,1280px,1480px;

//导航高度
@navHeight:3.5rem;


//logo大小
@homeSizeWidth:8rem;
@homeSizeHeight:@navHeight;



//下拉菜单高度
@drownMenuHeight:35rem;
